/* TEMPLATE STYLES */

body {
    width: 100%;
    background: url(../Content/img/LayoutBG3.jpg) no-repeat center center fixed;
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, header, nav {
    margin: 0;
}

header {
    background: rgba(0,0,0,0.4);
    color: white;
    padding: 10px 10px;
}


nav {
    background: rgba(0,0,0,0.6);
    margin-bottom: 5px;
    /*padding: 5px;*/
    height: 30px;
}

    nav ul {
        /*float: left;*/

        height: 10px;
    }

    nav li {
        list-style-type: none;
        color: black;
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 1.3em;
        float: left;
        /*height: 10px;*/
    }

        nav li a {
            color: white;
            font-weight: bold;
            text-decoration: none;
            /*margin-bottom: 10px;
            height: 10px;*/
        }

            nav li a:hover {
                text-decoration: underline;
                height: 10px;
            }

section {
    clear: both;
    display: block;
    width: 80%;
    margin: 20px auto;
    /*vertical-align: top;*/
    text-align: center;
    min-height: 450px;
    max-height: 1000px;
    background: rgba(255,255,255,0.8);
    border-radius: 7px;
    overflow: auto;
}

/* Individual Page Styles */
/*on shared Layout*/
.LogoImage {
    width: 35%;
    height: 30%;
}

.LogoImage2 {
    /*width: 500px;
    height: 30%;*/
}
.ListUL {
    list-style: none;
    text-align: left;
    /*width: 70%;*/
}

.DescriptionBlock {
    display: inline-block;
    margin: auto;
    padding-top:30px;
    width: 50%
}
.ParkImageDiv {
    display: inline-block;
    width: 45%;
    margin: 0;
    padding: 0;
}

.ParkName {
    font-size: 22px;
    font-weight: 600;
padding-bottom:20px;
}

.ParkImage {
    width: 80%;
    height: 80%;
    padding:0;
    margin: 0;
    float:left;
    border-radius: 5px;
}
.ParkImageFavorites {
    width: 45%;
    height: 45%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.StarImage {
    width: 60px;
    height: 30px;
}

.TileBlock {
    column-count: 3;
}

.TileUL {
    list-style: none;
}

.TableDiv {
    display: inline-block;
}

.TableHeader {
    text-align: left;
    width: 80px;
}

    .TableHeader tr {
        height: 18px;
    }

.TableBody {
    width: 180px;
}

    .TableBody tr:nth-child(even) {
        background-color: gainsboro;
    }

td .ProductImage {
    width: 100px;
    height: 75px;
}

td .ProdName {
    font-size: 14px;
    font-weight: 600;
}

.TableFigure {
    width: 100px;
    height: 87px;
}

.DetailBlock {
    display: inline-block;
}

.DetailUL {
    list-style: none;
    text-align: left;
}

.DetailBlock .ProductImage {
    width: 400px;
    height: 300px;
}

.DetailDescription {
    width: 450px;
}
section pre {
    white-space: pre-wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.DetailTable td, th {
    border: 1px solid lightgrey;
    padding: 3px;
}
.DetailTable {
    border-collapse: collapse;
    border: 1px solid lightgrey;
}
.weatherImgSmaller{
    width: 50%;
}
.description{
    padding-right:10px;
}
.DetailInfo {
    text-align: left;
    font-size:16px;
}
.Templow{

   color: royalblue;
}
.Temphigh {

    color: lightcoral;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
}
.survey{
    padding-left:5%;
    text-align:left;
}
.headers{
    font-weight:bold;
    margin-top:10px;

}
.DetailedParkimg{
    border-radius:7px;
    margin-top:20px;
}